html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    background-color: #e5e7eb;
    margin: 0;
}

#title_div h1 {
    color: #000000;
}

#game_container {
    position: relative;
    height: 100%;
}

#name_div {
    position: absolute;
    margin: 0;
    height: 6vh;
    width: 100%;
    text-align: center;
    background-color: #cbd5e1;
    color: #8b8e91;
    font-size: 1.2vh;
}

#game_div {
    text-align: center;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 55%;
    padding: 10px;
}

#gameArea {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -100;
}

#login_div button {
    width: 50%;
    height: 15%;
    margin-top: 4px;
    color: #ffffff;
    background-color : #10b981;
    border-style: solid;
    border-color: #0c835b;
    border-width: 2px 2px 4px 2px;
    transition-duration: 0.4s;
}

#login_div button:hover {
    color: #ffffff;
    background-color : #369bff;
    border-style: solid;
    border-color: #67b6ff;
}